<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="2.5.2" />
  <package id="Castle.Windsor" version="2.5.3" />
  <package id="HttpClient" version="0.3.0" />
  <package id="Iesi.Collections" version="3.2.0.1002" />
  <package id="JsonValue" version="0.3.0" />
  <package id="Moq" version="4.0.10827" />
  <package id="Nancy" version="0.10.0" />
  <package id="Nancy.Testing" version="0.10.0" />
  <package id="Newtonsoft.Json" version="4.0.2" />
  <package id="NHibernate" version="3.2.0.1002" />
  <package id="NUnit" version="2.5.9.10348" />
  <package id="SharpTestsEx" version="1.1.1" />
  <package id="xunit" version="1.7.0.1540" />
</packages>